body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    color: #575757;
    font-size: 50px;
    margin: 0%;
}
p{
    margin-bottom: 60px;
}
h1 span{
    color: salmon;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.btn{
    text-decoration: none;
    padding: 20px 40px;
    background: linear-gradient(90deg, salmon, tomato);
    border-radius: 50px;
    color: white;
    font-weight: 500;
}
.about-area{
    background-image: url("images/7.png")
}
.about-area img{
    height: 430px;
}
.half-w{
    width: 50%;
}
.flex-container{
    display: flex;
    margin: auto;
    padding-left: 60px;
    justify-content: space-between;
    align-items: center;
}